body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f3f3;
    color: #333;
}

h1 {
    text-align: center;
    color: #010a09;
}

div {
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color:black;
}

input, button {
    margin-bottom: 10px;
}

button {
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

#mensajeError {
    color: #d32f2f;
    margin-top: 10px;
}

#total {
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    color:black;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}


#buscar {
    background-color:red;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

#buscar:hover {
    background-color:red;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#carouselExample {
    max-width: 400px; 
    width: 80%;
}
